# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Node / Playwright
node_modules/
playwright-js/node_modules/
playwright-js/playwright-report/
playwright-js/test-results/
playwright-js/allure-results/
playwright-js/allure-report/
playwright-js/storage/
*.log

# Python
__pycache__/
*.pyc

# Maven/Java
target/
selenium-java-project/target/
selenium-java-project/.java/
selenium-java-project/scripts/.maven/
selenium-java-project/lib/
selenium-java-project/src/test/java/com/example/tests/oracleJdk-25/

# Reports (root-level)
allure-results/
allure-report/
playwright-report/
test-results/